<% if events.length > 0 %>
  <% events.each do |event| %>
    <div class="events-row">
      <div class="fields-name">
        <%= link_to event.name, event %>
      </div>

      <div class="fields-descr">
        <%= event.description %>
      </div>

      <div class="fields-date">
        <%= I18n.l(event.evented_at.to_time, :format => '%e %B %Y') if event.evented_at %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="events-row">
    <div class="fields-no-data">
      Событий нет
    </div>
  </div>
<% end %>