<% if events.length > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>
          Название
        </th>
        <th>
          Повод
        </th>
        <th>
          Дата
        </th>
      </tr>
    </thead>
    <tbody>
      <% events.each do |event| %>
        <tr>
          <td >
            <%= link_to event.name, event, class: 'link' %>
          </td>
          <td>
            <%= event.description %>
          </td>
          <td>
            <%= I18n.l(event.evented_at.to_time, :format => '%e %B %Y') if event.evented_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <div class="fields-no-data">
      Событий нет
    </div>
<% end %>