<div class="container">
  <%= link_to 'Добавить пьянку', new_event_path, class: "button brand-color" %>
  <h1 class="title events-title">Пьянки:</h1>
  <div>
    <% @events.each do |event| %>
      <div class="events-row">
        <div class="fields-name">
          <%= link_to event.name, event %>
        </div>

        <div class="fields-descr">
          <%= event.description %>
        </div>

        <div class="fields-date">
          <%= event.evented_at %>
        </div>
      </div>
    <% end %>
  </div>
</div>



<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
    <%# @events.each do |event| %>
<!--      <tr>-->
<!--        <td><%#= link_to 'Show', event %></td>-->
<!--        <td><%#= link_to 'Edit', edit_event_path(event) %></td>-->
<!--        <td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->


