<div class="row w-100">
  <div class="card bg-gray1">
    <div class="row w-100 jc-sb">
      <h1 class="title events-title">
        <%= link_to events_path, class: 'back-link' do %>
          <i class="fa-regular fa-circle-left"></i>
        <% end %>
        Новое мероприятие
      </h1>
    </div>
  </div>
</div>

<%= render 'form', event: @event, cancel_path: events_path %>




