<div class="row w-100">
  <div class="card bg-gray1">
    <div class="row w-100 jc-sb">
      <h1 class="title events-title">
        <i class="fa-solid fa-xmark"></i>
        Мероприятие закрытое, а вы не участник
      </h1>
      <%= link_to 'Назад', welcome_path, class: "title-link" %>
    </div>
  </div>
</div>