.add-bot {
  width: 100%;

  &-header {
    margin-top: 8px;
    font-weight: bolder;
  }

  &-subheader {
    color: $gray6;
    font-size: 12px;
    margin: 4px 0 8px 0;
  }

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-input {
    width: 70%;
    padding: 12px 16px;
    flex: 1 0 auto;
    margin-right: 20px;
    border-radius: 12px;
    border: 1px solid $gray3;

    &:focus {
      outline: none;
      border-color: $gray8;
    }
  }

  &-submit {
    border: 1px solid $gray3;
    background-color: $gray3;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $gray10;
    padding: 6px 16px;

    &:hover {
      background-color: $gray4;
    }
  }
}