.add-form {
  margin-top: 16px;
  border-bottom: 1px solid $light;
  padding-bottom: 8px;

  &-container {
    display: flex;
    //justify-content: space-between;
    margin-bottom: 16px;
  }

  &-hidden {
    display: none;
    margin-top: 16px;
  }
}