<div class="container">
  <div class="row">
    <div class="row-left">
      <p class="text">
        Хотите честно делить все траты с вечеринок, поездок и других мероприятий,
        где участвует много людей?
      </p>
      <%= link_to 'Присоединяйтесь', new_user_session_path, class: 'button' %>
    </div>
    <div class="row-right">
    </div>
  </div>
</div>