<div class="card">
  <div class="card-error_code">
    500
  </div>
  <h1 class="card-error_text">
    Уууупс, что-то пошло не так
  </h1>
  <p class="card-text">
    Попробуйте обновить страницу и выполнить действие еще раз
  </p>
  <%= link_to 'На главную', root_path, class: 'card-button' %>
</div>