<div class="card">
  <div class="card-error_code">
    404
  </div>
  <h1 class="card-error_text">
    Такая страница не существует
  </h1>
  <p class="card-text">
    Пожалуйста, проверьте, что адрес указан правиьно и попробуйте еще раз
  </p>
  <%= link_to 'На главную', root_path, class: 'card-button' %>
</div>