@import "variables";

.df {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.body {
  background-color: $body-bg;
}

.header {
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $brandColor;

  &-title {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: $white;

    &:visited {
      color: $white;
    }
  }

  &-menu {
    display: block;

    &-show {
      display: none;
    }

    &-close {
      display: none;
    }
  }

  &-text {
    margin-right: 16px;
    font-size: 18px;
    line-height: 21px;
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.back-link {
  text-decoration: none;
  color: $gray5;
  margin-right: 12px;

  &:hover {
    color: $gray8
  }
}

.container {
  //width: 1600px;
  //padding: 0 40px;
  margin: 0 auto;
  min-height: calc(100vh - 140px);
  max-width: 1200px;
}

.button {
  //padding: 10px 20px;
  //border-radius: 24px;
  font-size: 48px;
  line-height: 21px;
  color: $brandColor;

  &:hover {
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $gray6;
  }
}

.brand-color {
  background: $brandColor;
}

.title {
  font-style: normal;
  //font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: $gray9;


  &-rightblock {
    display: flex;
    align-items: center;
  }

  &-container {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  &-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: $gray7;

    &:hover {
      text-decoration: underline;
    }
  }
}

.with-bottom-border {
  //padding-bottom: 20px;
  border-bottom: 1px solid $light;
}

.toaster {
  &-container {
    display: flex;
    justify-content: center;
  }

  width: 400px;
  position: fixed;
  bottom: 0;
  padding: 16px 16px;
  margin: 0 auto 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;


  &-notice {
    background-color: #f9ffe9;
  }

  &-alert {
    background-color: #fd7b99;
  }
}

.footer {
  height: 60px;
  background-color: $body-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  &-text {
    font-size: 12px;
    color: $gray4;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.card {
  margin-top: 24px;
  background-color: $white;
  border: 1px solid $gray3;
  border-radius: 12px;
  padding: 16px 20px;
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 14px 0 rgba(65,69,88,0.1),0 3px 6px 0 rgba(0,0,0,0.07);

  &-header {
    color: $gray10 !important;
    padding-bottom: 16px;
    border-bottom: 1px solid $gray3;
    display: flex;
    justify-content: space-between;
  }

  &-body {
    padding-top: 12px;
  }

  &-footer {
    color: $gray8;
    border-top: 1px solid $gray3;
    display: flex;
    justify-content: space-between;
  }

  &>* {
    color: $gray8;
  }
}

.bg-gray1 {
  background-color: $gray1;
}

.w-100 {
  width: 100%;
}

.w-50 {
  flex: 1 0 300px;
  width: 50%;

  &:first-child {
    padding-right: 10px;
  }

  &:last-child {
    padding-left: 10px;
  }
}

.table {
  width: 100%;
  border-color: $gray1;
  border-collapse: collapse;
  display: table;

  &>thead {
    background-color: $gray2;
    color: $gray7;
    text-align: center;
  }

  &>tbody>tr {
    border-top: 1px solid $gray2;
  }

  &>tbody>tr>td {
    text-align: center;
    color: $gray8;
  }

  &>:not(caption)>*>* {
    padding: 1rem;
  }

  &>tbody>tr>td:first-child {
    padding-left: 1.25rem;
    text-align: left;
  }

  &>tbody>tr>td:last-child {
    text-align: right;
  }
}

.link {
  color: $blue;

  &:visited {
    color: $blue;
  }

  &:hover {
    color: $brandColor;
  }
}



@import 'medium/layout';
@import "small/layout";