@import "variables";

.header {
  padding: 21px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  &-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: $brandColor;
  }

  &-text {
    margin-right: 16px;
    font-size: 18px;
    line-height: 21px;
    color: $brandColor;

    &:hover {
      text-decoration: underline;
    }
  }
}

.back-link {
  text-decoration: none;
  color: $dark;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  //width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
}

.button {
  padding: 10px 30px;
  border-radius: 24px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.brand-color {
  background: $brandColor;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 16px;

  &-rightblock {
    display: flex;
    align-items: center;
  }

  &-container {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  &-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: $dark;

    &:hover {
      text-decoration: underline;
    }
  }
}

.with-bottom-border {
  //padding-bottom: 20px;
  border-bottom: 1px solid $light;
}