<p>Привет, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Хотим сообщить, что твой аккаунт переезжает на новый адрес электронной почты: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Хотим сообщить, что твой аккаунт переехал на новый адрес электронной почты: <%= @resource.email %>.</p>
<% end %>
