<p>Привет, <%= @resource.email %>!</p>

<p>Ниже ссылка для смены твоего пароля на ресурсе Разделялка</p>

<p><%= link_to 'Сбросить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если ты не хочешь его менять, просто проигнорируй это письмо</p>

