<p>Привет, <%= @resource.email %>!</p>

<p>Твой аккаунт на ресурсе Разделялки был заблокирован из-за большого количества неуспешных попыток входа </p>

<p>Нажми на ссылку, чтобы разблокировать его:</p>

<p><%= link_to 'Разблокировать меня', unlock_url(@resource, unlock_token: @token) %></p>
