<header class="header">
  <p class="header-title">
    <%= link_to root_path do %>
       <i class="fa-solid fa-users-gear"></i> Разделялка
    <% end %>
  </p>

  <div class="header-menu">
    <%= link_to current_user.username, profile_path, class: 'header-text' %>
    <%= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'header-text' %>
  </div>

</header>