<header class="header">
  <p class="header-title">
    <%= link_to root_path, class: "header-title" do %>
       <i class="fa-solid fa-users-gear"></i> Разделялка
    <% end %>
  </p>

  <a href="#" class="header-menu-show" id='header-menu-show'>
    <i class="fa-solid fa-bars"></i>
  </a>

  <nav class="header-menu" id="header-menu">
    <a href="#" class="header-menu-close" id="header-menu-close">
      <i class="fa-solid fa-xmark"></i>
    </a>
    <%= link_to current_user.username, profile_path, class: 'header-text' %>
    <%= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'header-text' %>
  </nav>

</header>


<%= javascript_pack_tag 'header' %>