<header class="header">
  <p class="header-title">
    <%= link_to "На сколько же я выпил...", root_path %>
  </p>

  <%= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'header-text' %>
</header>